
.DS_Store
.ipynb_checkpoints/analyze_lvl1-checkpoint.ipynb
.ipynb_checkpoints/FirstLevel_pilot-checkpoint.ipynb
analyze_lvl1.ipynb
FirstLevel_pilot.ipynb
.idea/vcs.xml
.idea/Multiverse_Reliability.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
Stage1_Code/__pycache__/pull_regressors.cpython-38.pyc
Stage1_Code/__pycache__/FirstLevel_Models.cpython-38.pyc
Stage1_Code/__pycache__/create_designmat.cpython-38.pyc
model_permutations.csv
WholeBrain_Act.ipynb
subjects.csv
Stage1_Code/__pycache__/designmat_regressors_define.cpython-38.pyc
Stage1_Code/__pycache__/susan_smooth.cpython-38.pyc
Stage1_Code/.Rhistory
.idea/workspace.xml
Stage2_Code/cluster_jobs/log_abcd/ 
Stage2_Code/cluster_jobs/subj_ids/
Stage2_Code/__pycache__/
Stage2_Code/cluster_jobs/log_abcd/*
Stage2_Code/cluster_jobs/batch_jobs/
Stage2_Code/cluster_jobs/logs_ahrb/*
Stage2_Code/cluster_jobs/subj_id/
Stage2_Code/subj_id/
Stage2_Code/.Rhistory
Stage2_Code/cluster_jobs/first_sherlock.batch
Stage2_Code/cluster_jobs/logs_mls/
Stage2_Code/.ipynb_checkpoints/
Stage2_Code/cluster_jobs/ex_submit_grp.txt
Stage2_Code/cluster_jobs/logs/
